.btn {
  display: block;
  padding: 16px 88px;
  border-radius: 12px;

  background: var(--yellow);

  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background: var(--light-yellow);
}

.link {
  max-width: 280px;
}

.explore {
  padding: 16px 24px !important;
  max-width: 60%;
  margin: 0 auto;
}

.submit-btn {
  min-width: 100%;
  padding: 16px 187px;
}

.book-btn {
  padding: 16px 46px !important;

  margin-top: 32px !important;
}

@media (max-width: 1439px) {
  .btn {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .btn {
    min-width: 235px;
    padding: 16px 70px;
  }
}
