.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  border-radius: 24px;
  border: 1px solid var(--accent);
  padding: 24px;
  background: #fff;
}

@media (min-width: 768px) {
  .item {
    max-width: 700px;
  }
}

@media (min-width: 1280px) {
  .item {
    flex-wrap: nowrap;
    min-width: 1184px;
  }
}
