.pwd {
  padding: 16px 55px 16px 18px;
}

.eye-btn {
  position: absolute;
  top: 50%;
  right: 20px;

  transform: translate(0, -50%);
}

.eye-btn:hover .eye {
  stroke: var(--yellow);
  transform: scale(1.05);
}

.eye {
  fill: transparent;
  stroke: var(--black);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
}
