.relative {
  position: relative;
}

.error {
  position: absolute;
  color: #e74a3b;
  font-size: 12px;
  padding-left: 16px;

  animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.underline {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
