.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--gray);
}

.chevron {
  fill: transparent;
  stroke: var(--black);

  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-select {
  max-width: 250px;
}

.custom-select__control--menu-is-open .chevron {
  transform: rotate(180deg);
}

@media (max-width: 767px) {
  .main-select {
    min-width: 250px;
  }
}
